.header {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.header_logo{
    width: 200px;
    margin: 0 20px;
    margin-top: 5px;
}

.header_search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 20px;
}

.header_searchIcon{
    background-color: aqua;
    padding: 5px;
    height: 15px;
}

.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header_nav{
    display: flex;
    justify-content: space-evenly;
}