.form{
    background: var(--primary-color);
    padding: 40px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 400px;
    width: 80%;
}

.form p{
    margin-top: 200px;
}

.form p a{
    color: white;
    margin-top: 50px;
}


.a_btn{
    background: white ;
    color: var(--primary-color);
    font-weight: 600;
}


.bold{
    margin-top: 70px;
    margin-left: 620px;
}

.group{
    position: relative;
    margin-top: 100px;
}