.form{
    background: var(--primary-color);
    padding: 40px;
    border-radius: 5px;
}

.form p{
    margin-top: 30px;
}

.form p a{
    color: white;
}


.a_btn{
    background: white ;
    color: var(--primary-color);
    font-weight: 600;
}
